<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Llab_9.Properties.Settings.booksConnectionString"
            connectionString="Database=books;Host=localhost;Username=postgres"
            providerName="Npgsql" />
        <add name="Llab_9.Properties.Settings.BOOKSConnectionString1"
            connectionString="Host=localhost;Database=BOOKS;Username=postgres;Password=12345"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>